*{
  margin:0;
  padding:0;
}
body{
  font-family:Poppins,arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#141A26;
  color:#fff;
  
}
h0{
	font-size:250%;
}
h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
a{
 
  color:#000;
/*   background:#ffc; */
  display:block;
  height:20em;
  width:20em;
  padding:1em;
  font-family:"Poppins",arial,sans-serif;
  
}
ul li{
  margin:1em;
  float:
  }
  
  ul li h6 {
  font-size:150%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p h0 h2{
  font-family:"Poppins",arial,sans-serif;
  font-size:200%;
}
 input[type=text]{
    font-family:"Poppins",arial,sans-serif;
  	font-size:150%;

    color: #223254;
    background:#ffc;
  
            
}

input[type=submit]{
    font-family:"Poppins",arial,sans-serif;
  	font-size:100%;
    color: #223254;
    background:#fff;
    border-radius: 12px;           
}

h6{
	font-size:150%;
}
h1{
	font-size:200%;
}